.container {
  
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    width: 262px;
    height: 146px;
    transform: translate(0%, -98%);
    -ms-transform: translate(-50%, -50%);
    left:10%;
  }
  
  
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: white;
    color: black;
    height:113px;
    font-size: 14px;
    padding-left: 15px;
    padding-right:15px;
  }
  