.back{
    background:linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    size:16px;
    line-height: 18.75px;
    color:white;
    padding-top: 1%;
}
.box-style{
    position: absolute;
    width: 1440px;
    height: 53px;
    left: 0px;

background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
}
#offerBtn{
 
position: absolute;
width: 94px;
height: 29px;
left: 100%;
top: -4px;
margin-left:px;
background: #FFFFFF;
border-radius: 20px;
}

#offerText {
    position: absolute;
    width: 668px;
    height: 19px;
    left: 325px;
    top: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: capitalize;

    color: #FFFFFF;
}